.hero-container {
  align-items: center;
  display: flex;
  max-height: calc(100vh - 180px);
  /* height: 90vh; */
  /* margin-top: -100px; */
  justify-content: center;
  position: relative;
}

.hero-header {
  font-family: var(--header-text);
  font-size: var(--xxl-text);
  font-weight: 800;
  line-height: 1;
  margin: 0;
  padding-top: 0.75rem;
  
}

.hero-subtext {
  color: var(--dark);
  font-family: var(--content-text);
  font-size: 24px;
  padding: 0.5rem 0;
  width: 90%;
  font-weight: 600;
}

.hero-button {
  background-color: var(--lightblue);
  border-radius: 50px;
  border-style: none;
  color: var(--dark);
  font-family: var(--content-text);
  font-size: clamp(14px, 1.1719vw, 1.125rem);
  font-weight: 300;
  line-height: 1.75rem;
  padding: 1.25em;
  margin-top: 100px;
  text-decoration: none;
}

.hero-img {
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  height: auto;
  min-width: 40vw;
  transform: scale(0.9);
}

.hero-stamp {
  bottom: 5%;
  position: absolute;
  right: 40%;
  width: 12.4349vw;
  z-index: var(--layer2);
}
