.aboutpage {
  position: relative;
}

.aboutpagerow1,
.aboutpagerow2 {
  display: flex;
  font-size: var(--lg-text);
  justify-content: space-between;
  position: relative;
}

.aboutpagerow2 {
  margin-bottom: 4.5rem;
}

.aboutpage-header {
  font-family: var(--header-text);
  max-width: 50%;
}

.aboutpage-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
}

.aboutpage-summary h3 {
  font-family: var(--header-text);
}

.aboutpage-summary p {
  color: var(--dark);
  font-family: var(--content-text);
  font-size: var(--md-text);
  line-height: 1.5;
}

.aboutprint {
  height: 4rem;
  position: absolute;
  width: 4.1667vw;
}

.aboutpage-posts {
  background-color: var(--lightblue);
  /* display: flex; */
  /* justify-content: space-around; */
  margin-inline: -7.765vw;
  padding: 3rem 0;
  position: relative;
}

.aboutpage-posts-container{ 
  margin-inline: 7.765vw;
}

.aboutpage-posts img {
  height: 6rem;
  left: 3.2552vw;
  position: absolute;
  rotate: -45deg;
  z-index: var(--layer2);
}

.aboutpage-posts-container .blogsection{ 
  margin-bottom: 0;
}

.aboutblogcard:nth-child(3) {
  margin-top: 100px;
}

.aboutpage-bottomrow {
  display: flex;
  justify-content: center;
  padding: 4em;
  text-decoration: none;
}

.aboutpage-bottomrow h2 {
  font-family: var(--header-text);
  font-size: var(--lg-text);
  margin-right: 5em;
}

.contact-button {
  align-items: center;
  align-self: center;
  background-color: var(--yellow);
  border-radius: 30px;
  color: var(--dark);
  display: flex;
  font-family: var(--content-text);
  font-size: var(--sm-text);
  font-weight: 800;
  height: 5em;
  justify-content: center;
  text-decoration: none;
  width: 10em;
}

.contact-button:hover {
  opacity: 0.75;
}

/* Foot Prints Positioning */
.aboutprint1 {
  rotate: 95deg;
  top: 20px;
}

.aboutprint2 {
  left: 3.2552vw;
  rotate: 115deg;
  top: 90px;
}

.aboutprint3 {
  left: 9.4401vw;
  rotate: 120deg;
  top: 30px;
}

.aboutprint4 {
  left: 13.0208vw;
  rotate: 105deg;
  top: 100px;
}

.aboutprint5 {
  left: 22.7865vw;
  rotate: 90deg;
  top: 50px;
}

.aboutprint6 {
  left: 65.1042vw;
  rotate: -90deg;
}

.aboutprint7 {
  left: 71.6146vw;
  rotate: 250deg;
  top: -45px;
}

.aboutprint8 {
  left: 78.125vw;
  rotate: 240deg;
  top: -60px;
}

.aboutprint9 {
  left: 81.3802vw;
  rotate: 225deg;
  top: -150px;
}

/* images */
.about-right-img { 
  max-width: 100%;
}

.about-left-img { 
  max-width: 100%;
  
}

/* Media Queries */

@media (max-width: 1200px) {
  .aboutpage-header {
    padding-left: 1rem;
  }

  .aboutpage-summary {
    padding-right: 1rem;
  }
}
@media (max-width: 1100px) {
  .aboutpagerow1,
  .aboutpagerow2 {
    align-items: center;
    flex-direction: column;
  }

  .aboutpage-header {
    max-width: 80%;
    text-align: center;
  }

  .aboutpagerow2 h3 {
    text-align: center;
  }

  .aboutpage-summary {
    max-width: 80%;
  }

  .aboutpage-posts {
    align-items: center;
    flex-direction: column;
  }

  .aboutblogcard:nth-child(3) {
    margin-top: 0;
  }

  .aboutpage-bottomrow {
    align-items: center;
    flex-direction: column;
  }

  .aboutpage-bottomrow h2 {
    margin-right: 0;
  }

  .contact-button {
    font-size: 16px;
  }

  .aboutpage-posts img {
    left: 15vw;
    top: 50px;
  }
}
