.blogsection {
  margin-bottom: 7rem;
  position: relative;
}

.blogsection h2 {
  color: var(--blue);
  font-size: var(--lg-text);
  font-family: var(--header);
}

.blogsection img {
  height: 6rem;
  position: absolute;
  left: 24.5rem;
  top: 3rem;
  transform: rotate(-30deg);
  z-index: var(--layer3);
}

.blogsection__posts {
  display: flex;
  justify-content: space-around;
}

.blogsection img {
  position: absolute;
  right: 3000px;
}

.homeblogcard:nth-child(2) {
  margin-top: 100px;
  position: relative;
}

@media (max-width: 900px) {
  .blogsection__posts {
    flex-direction: column;
    align-items: center;
  }

  .blogsection h2 {
    text-align: center;
  }

  .blogsection div:nth-child(2) {
    margin-top: 1.5em;
  }
}

@media (max-width: 600px) {
  .blogsection img {
    display: none;
  }
}
