.service-card-container {
  /* position: relative; */
  background-color: #fadcd2;
  width: 25vw;
  border-radius: 0.75rem;
  padding: 2rem 3.5rem;
  margin: 2rem 2rem 2.5rem;
  width: 25vw;
  height: 42.8954vh;

  position: relative;
}

.service-bubble {
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  left: -2.5rem;
}

.servicecard-packagename {
  color: var(--cream);
  transform: rotate(-12deg);
}

.servicecard-title {
  font-size: 1.5rem;
}

.servicecard-description {
  font-size: 1.25rem;
}

.servicecard-use {
  font-size: 0.75rem;
  line-height: 1;
}

.servicecard-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 600px) {
  .service-card-container {
    width: 83.333%;
  }
}
