.newPosts {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.agedPosts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogpage {
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  .newPosts {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .featuredBlogCard {
    margin-bottom: 2rem;
  }

  .agedPosts {
    justify-content: center;
  }
}
@media (max-width: 600px) {
}
