.newPosts {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.agedPosts {
  /* display: inline-flex;
  flex-wrap: wrap;
  gap: calc((100% - (30%*3))/3) ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  flex: 0 0 30%;
  column-gap: calc((100% - (29%*3))/3)
}

.agedPosts > div:nth-child(3n) { 
}

.agedPosts > div { 
  width: 30%;
}

.blogpage {
  display:flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  .newPosts {
    /* align-items: center;
    flex-direction: column; */
    display: flex;
    margin-bottom: 0;
    /* flex-direction: column; */
  }

  .featuredBlogCard {
    margin-bottom: 2rem;
  }

  .agedPosts {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    column-gap: 0;
  }

  .agedPosts > div { 
    width:auto;
  }
  
}
/* TODO: Delet if nothing added */
@media (max-width: 600px) {
  .newPosts {
    display: block;
  }
}
