.contactpg__header {
  max-width: 35%;
}

.contactpg__header h2 {
  font-family: var(--header-text);
  font-size: clamp(24px, 4.6875vw, 72px);
  font-weight: 800;
}

.contact__print1,
.contact__print2,
.contact__print3,
.contact__print4 {
  position: relative;
  width: 4vw;
}

.contact__print1 {
  bottom: 3vw;
  left: 7vw;
  rotate: 125deg;
}

.contact__print2 {
  left: 7vw;
  rotate: 90deg;
  top: 2vw;
}

.contact__print3 {
  bottom: 1vw;
  left: 10vw;
  rotate: 70deg;
}

.contact__print4 {
  bottom: 4.5vw;
  left: 12vw;
  rotate: 50deg;
}

@media (max-width: 900px) {
  .contactpg__header {
    max-width: 80vw;
  }

  .contact__print1,
  .contact__print2,
  .contact__print3,
  .contact__print4 {
    display: none;
  }
}

@media (max-width: 900px) {
  .contactpg__header h2 {
    font-size: 24px;
  }
}
