.featuredBlogCard {
  border-radius: 0.75rem;
  height: 42.8954vh;
  width: 40.1042vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layer for cream on hover */
.cream-bg {
  background-color: var(--cream);
}

.featuredblogcard-layer2 {
  height: 97.5%;
  width: 97.5%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

/* div for rounding background image */
.featuredblogcard-layer3 {
  height: 95%;
  width: 95%;
  border-radius: 0.75rem;
}

/* Div for image */
.featuredblogcard-bg {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  opacity: 0.3;
}

/* Content Div - outside of image div due to opacity issue */
.featuredBlog__content {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5em;

  z-index: var(--layer2);
  position: absolute;
  height: 95%;
  width: 95%;
}

.cream-text {
  background: transparent;
  color: #faf6ee;
}

.featuredBlog__content h2 {
  font-size: clamp(1.5rem, 3.125vw, 48px);
  font-family: var(--header-text);
  font-weight: 700;
  margin-block-end: 0.25rem;
}

.featuredBlog__content p {
  font-family: var(--content-text);
  font-weight: 600;
  max-width: 95%;
  color: var(--dark);
}

.featuredBlog__arrow {
  color: #faf6ee;
  align-self: flex-end;
  justify-self: end;
  position: absolute;
  bottom: 0;
}

@media (max-width: 900px) {
  .featuredBlogCard {
    height: 500px;
    width: 500px;
    /* row-gap: 3rem; */
  }

  .featuredBlog__content h2 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .featuredBlogCard {
    height: 50vw;
    width: 50vw;
  }

  .featuredBlog__content p {
    display: none;
  }

  .featuredBlog__content h2 {
    font-size: 30px;
  }
}
