.layout__container {
  background-color: #faf6ee;
  background-image: url("../images/img-noise.png");
  border-image: linear-gradient(to right, #eda9b2, #23b4d9) 1;
  border-top-style: solid;
  border-top-width: 15;
  color: #5d6567;
  padding: 0;
}

.page-container {
  z-index: var(--layer-2);
}

.background-noise {
  opacity: 0.25;
}

/* TODO: delete below once background is fixed */

/* 
.layout__container::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: auto;

  background: repeating-conic-gradient(
      #0003 0.000001% transparent 75%,
      #fff0 0.00005% transparent 75%,
      #fff0 0.00035% transparent 75%,
      #fff0 0.00005% transparent 75%
    ),
    repeating-conic-gradient(
      #fff2 0.00002% transparent 75%,
      #fff0 0.00008% transparent 75%,
      #fff0 0.0008% transparent 75%,
      #fff0 0.00008% transparent 75%
    );
  opacity: 0.5;
  filter: blur(100px);
} 
*/
