.post__title {
  font-size: var(--xl-text);
  font-weight: 700;
  font-family: var(--header-text)
}

.post__title_img { 
  width: 100%;
  height: auto;
  border-radius: 20rem;
}

.post__header_container { 
  display: flex; 
  flex-direction: column;
}

.post__body_container { 
  display: flex; 
}

.post__chapters { 
  display: none; 
}
@media (min-width: 900px) {
  .post__header_container { 
    flex-direction: row;
  }

  .post__header_container > div { 
    flex: 1 1 100%;
  }

  .post__chapters { 
    display: block; 
    flex: 1 0 20%;
  }

  .post__body { 
    flex: 3 0 75%; 
  }
}