.header-container {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin-inline: auto;
}

.desktop-links-container {
  font-family: var(--header-text);
}

.link-item {
  text-decoration: none;
  margin-inline: 1.5rem;
  color: var(--dark);
  font-size: 1.0417vw;
}

.link-item:hover {
  color: var(--blue);
}

.closeMobileMenu,
.openMobileMenu,
.hideCloseIcon,
.waves-menu {
  display: none;
}

/* Mobile CSS */

@media (max-width: 650px) {
  .waves-menu {
    display: inline-block;
    width: 4rem;
  }

  .desktop-links-container {
    display: none;
  }

  .openMobileMenu {
    z-index: 10;
    position: fixed;
    display: inline-block;
    background-color: var(--yellow);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .nav-flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .links-container-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .showCloseIcon {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .link-item {
    font-size: 3.75rem;
    color: white;
  }
}
