.pricingpg__beachImg {
  width: 25vw;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
}

.pricingpg__stamp {
  position: absolute;
  width: 12.4349vw;
  z-index: var(--layer2);
  top: 40%;
  left: 65%;
}

.servicespg__col3 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

.servicespg__col3 h4 {
  font-family: var(--content-text);
  font-size: clamp(1rem, 2.3438vw, 36px);
  line-height: 1.75;
  margin: 0;
}

.servicespg__col3 h5 {
  color: var(--pink);
  font-size: clamp(1rem, 2.3438vw, 36px);
  font-family: var(--title-text);
  margin: 0.5em 0 0 0;
}

.pricing-arrow {
  border-radius: 9999px;
  height: 5rem;
  width: 5.2083vw;
  background-color: #ffde9d;
  color: var(--dark);
  padding: 0.5rem;
  align-self: flex-end;
}

.pricing-arrow:hover {
  transform: scale(1.1);
}

.pricing-row2 {
  display: flex;
  margin-left: 50%;
  margin-bottom: 2em;
}

@media (max-width: 800px) {
  .servicespg__col3 {
    display: none;
  }
}
