.footer-container {
  align-items: center;
  background-color: var(--pink);
  color: var(--cream);
  display: flex;
  font-family: var(--header-text);
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0 7.765vw;
  width: 100%;
}

.footer-link {
  color: var(--cream);
  line-height: 2.5rem;
  text-decoration: none;
  font-family: var(--header-text);
  font-size: var(--md-text);
}

.footer-link:hover { 
  color: var(--blue);
  text-decoration: underline;
  text-decoration-style: wavy;
  transition: all 500ms ease;
}

.footerlinks-container {
  display: flex;
  height: 100%;
  column-gap: 0.5rem;
  /* justify-content: space-around; */
  /* padding-block: 2.5rem; */
  /* width: 33%; */
}

.dinobeach-text-line1 {
  /* font-size: 1.875rem; */
  font-size: var(--md-text);
  line-height: 2.25rem;
  margin-block: 0;
}

.dinobeach-text-line2 {
  font-size: 1rem;
  line-height: 2rem;
  margin-block: 0;
  text-align: center;
  font-family: var(--content-text);
}

.footer-script {
  margin-block: 2.5rem;
}

@media (max-width: 800px) {
  .footerlinks-container {
    align-items: space-around;
    flex-direction: column;
    margin-block: 1.25rem;
  }

  .footer-script {
    margin-block: 1.25rem;
  }
}

@media (max-width: 400px) { 
  .footer-container { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footerlinks-container { 
    flex-direction: row;
  }
  .footer-link {
    font-size: 1rem;
  }
  .dinobeach-text-line1 { 
    font-size: 1rem;
  }
}