.footer-container {
  align-items: center;
  background-color: var(--pink);
  color: var(--cream);
  display: flex;
  font-family: var(--title-text);
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0 7.765vw;
  width: 100%;
}

.footer-link {
  color: var(--cream);
  line-height: 2.5rem;
  text-decoration: none;
}

.footerlinks-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  padding-block: 2.5rem;
  width: 33%;
}

.dinobeach-text-line1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-block: 0;
}

.dinobeach-text-line2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-block: 0;
  text-align: center;
}

.footer-script {
  margin-block: 2.5rem;
}

@media (max-width: 800px) {
  .footerlinks-container {
    align-items: space-around;
    flex-direction: column;
    margin-block: 1.25rem;
  }

  .footer-script {
    margin-block: 1.25rem;
  }
}
