@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&display=swap");

:root {
  /* Main Colors */
  --cream: #faf6ee;
  --pink: #e2abb3;
  --blue: #3c97be;
  --dark: #5d6567;
  --yellow: #ffde9d;

  /* Fonts */
  --header-text: "Aclonica", sans-serif;
  --content-text: "ABeeZee", sans-serif;

  /* Font Sizes */
  --xxl-text: clamp(2.25rem, 6.25vw, 96px);
  --xl-text: clamp(1.5rem, 4.6875vw, 72px);
  --lg-text: clamp(1.5rem, 3.125vw, 48px);
  --md-text: clamp(1.25rem, 1.5625vw, 24px);
}

body {
  margin: 0;
  padding: 0;
  border-top-style: solid;
  border-top-width: 15px;
  border-image: linear-gradient(to right, #eda9b2, #23b4d9) 1;

  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.page-container {
  margin: 0 7.765vw;
  max-width: 80rem;
}

.gradient-text {
  background: -webkit-linear-gradient(#eda9b2, #23b4d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: -webkit-linear-gradient(#eda9b2, #23b4d9);
}

@media (max-width: 750px) {
  .page-container {
    /* max-width: 28rem; */
  }
}
