.blogcard {
  height: 23vw;
  width: 23vw;
  border-radius: 0.75rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.blogcard:hover {
  color: var(cream);
}

.blogcard-layer2 {
  height: 97.5%;
  width: 97.5%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.blogcard-layer3 {
  height: 95%;
  width: 95%;
  border-radius: 0.75rem;
}

.blogcard-bg {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  opacity: 0.3;
}

/* .background {
  height: 97.5%;
  width: 97.5%;
  border-radius: 0.75rem;
  align-self: center;
  background-color: var(--cream);

  display: flex;
  justify-content: center;
  align-items: center;
} */

.background:hover {
  background: transparent;
  color: var(cream);
}

.blogcard-content {
  /* height: 90%; */
  /* width: 90%; */
  /* border-radius: 0.75rem; */
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  padding-inline: 1.5em;
}
.blogcard__title {
  color: var(--cream);
}

.blogcard__content h3 {
  font-size: 1.8229vw;
  font-family: var(--header-text);
}

.blogcard__description {
  font-family: var(--content-text);
  color: var(--cream);
  font-weight: 600;
}

.blogcard__arrow {
  align-self: flex-end;
  color: var(--cream);
}

.blog-link {
  color: inherit;
}

@media (max-width: 900px) {
  .blogcard {
    height: 500px;
    width: 500px;
    flex-basis: 48%;
  }
}

@media (max-width: 600px) {
  .blogcard {
    flex-basis: 80%;
    height: 50vw;
    width: 50vw;
  }
}
