.blogcard {
  /* height: 51.4745vh; */
  height: 23vw;
  width: 23vw;
  border-radius: 0.75rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.background {
  height: 97.5%;
  width: 97.5%;
  border-radius: 0.75rem;
  align-self: center;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogcard__content {
  height: 90%;
  width: 90%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}
.blogcard__content h3 {
  font-size: var(--md-text);
  /* 1.5 rem + 24px */
  line-height: 2em;
  font-family: var(--header);
}

.blogcard__content p {
  font-family: "ABeeZee", sans-serif;
  color: #5d6567;
  font-weight: 600;
}

@media (max-width: 900px) {
  .blogcard {
    width: 50vw;
    height: 50vw;
    flex-basis: 48%;
  }
}

@media (max-width: 600px) {
  .blogcard {
    flex-basis: 80%;
    height: 50vw;
    width: 50vw;
  }
}
