.servicesection-container {
  position: relative;
  z-index: var(--layer3);
}

.services-text {
  color: var(--blue);
  font-family: var(--header-text);
  font-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  line-height: 1;
  padding-top: 0.75rem;
}

.servicessection__headerContainer {
  z-index: var(--layer3);
}

.servicessection__header {
  color: var(--dark);
  font-family: var(--content-text);
}

.servicecards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.services-side-text {
  border-radius: 50%;
  color: var(--cream);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 250px;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.services-side-text h3 {
  font-family: var(--header-text);
  font-size: var(--md-text);
  padding-inline: 0.5em;
}

.services-side-text:hover {
  opacity: 0.75;
}

.services-link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .services-link {
    order: 5;
  }

  .service-card-container{
    /* flex: 1;  */
  }
}
